<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.weihu.petrichor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon_round"
        android:label="Petrichor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Home" />
        <activity android:name=".AccountLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountCreate" />
        <activity android:name=".Today" />
        <activity android:name=".Explore" />
        <activity android:name=".ExploreWeek" />
        <activity android:name=".ExploreMonth" />
        <activity android:name=".ExploreYear" />
        <activity android:name=".ExploreTodayInThePast" />
        <activity android:name=".ExploreVisitARandomDay" />
        <activity android:name=".Share" />
        <activity android:name=".SharedMemory" />
        <activity android:name=".Highlights" />
        <activity android:name=".TimePeriod" />
        <activity android:name=".Past" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".NavBar"
            android:label="@string/title_activity_nav_bar"
            android:theme="@style/AppTheme" />
        <activity android:name=".About" />
        <activity android:name=".MyProfile"></activity>
        <activity android:name=".Help" />
        <activity android:name=".HelpAbout" />
        <activity android:name=".HelpHowToUse"></activity>
    </application>

</manifest>