<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.weihu.petrichor">

    <application
        android:allowBackup="true"

        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon_round"
        android:label="Petrichor"

        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>

        <activity android:name=".Home"></activity>
        <activity android:name=".AccountLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountCreate"></activity>

        <activity android:name=".Today"></activity>

        <activity android:name=".Explore"></activity>
        <activity android:name=".ExploreWeek"></activity>
        <activity android:name=".ExploreMonth"></activity>
        <activity android:name=".ExploreYear"></activity>
        <activity android:name=".ExploreTodayInThePast"></activity>
        <activity android:name=".ExploreVisitARandomDay"></activity>

        <activity android:name=".Share"></activity>
        <activity android:name=".SharedMemory"></activity>
        <activity android:name=".Highlights"></activity>
        <activity android:name=".TimePeriod"></activity>
        <activity android:name=".Past"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>